$Montserrat: "Montserrat", "san-serif", "Arial"

//simple color
$accent: #CF304D
$white: #fff
$black: #000
$blue: #174873
$orange: #D46128
$grey: #4E4E4E
$right_menu_bg: #1b1b1b

$color: #000
$color-none: rgba(0, 0, 0, 0)
$color_titles: #ccc
$color_strong: #eaeaea

$col1: #bdbad9
$col2: #d0add5
$col3: #92b6d8


$box_shadow: 0 0 10px rgba(#24262b, .6)
$white_shadow: drop-shadow( 4px 4px 10px rgba($black, .6))
$comment_shadow: 0 0 30px rgba(36,38,43,.2)
$box_shadow_inset: rgba(50, 50, 93, 0.5) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset
$text_shadow: 1px 2px rgba(146,182,216,.3)

