$Montserrat: "Montserrat", "san-serif", "Arial"

//simple color
$accent: #CF304D
$white: #fff
$black: #000
$blue: #174873
$orange: #D46128
$grey: #4E4E4E
$right_menu_bg: #1b1b1b

$color: #000
$color-none: rgba(0, 0, 0, 0)
$color_titles: #ccc
$color_strong: #dadada

$box_shadow: 0 0 20px #24262b


